/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;


}

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;

}

#menu {
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;

}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid darkgrey;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgray;
}

main {
    background-color: green;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
}

footer {
    background-color: red;
}