/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {box-sizing: border-box;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Roboto", sans-serif;


}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgray;
    text-align: center;
}

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

#menu {
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid darkgrey;
}

/* Navigation styles with dropdown toggle */


nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 4px 4px black;
    display: none;
    top: 100%;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkgray;
    text-align: center;
}

main {

    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 47px;

}

 #bootcamps, p {
    text-align: center;
}


#reasons {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;

}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: darkgrey;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/pexels-ivan-samkov-4164761.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Border radius added to adjust image from square to circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* Adjust image to center of display */
#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
#hero {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-victorfreitas-841130.jpg) no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(100, 100, 100, .4);
    font-size: 130%;
    position: sticky;
    bottom: 35px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 5px;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: darkgrey;
}

/*Workouts Page*/

#hero-workout {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-victorfreitas-703012.jpg) no-repeat center center/cover;
}

#workout-cover-text {
    background-color: rgba(100, 100, 100, .4);
    font-size: 130%;
    position: sticky;
    bottom: 35px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 5px;
}

/* Sign Up Page */
#signup {
    height: 800px;
    width: 100%;
    background: url(../images/pexels-pixabay-414029.jpg) no-repeat center center/cover;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: darkgrey;
}

input[type=text] :focus, input[type=password] :focus {
    background-color: #3a3a3a;
    outline: none;
}

hr {
    border: 1px solid darkgrey;
    margin-bottom: 25px;
}

/* set a style for all buttons */
button {
    background-color: darkgrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styes for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: darkgrey;
}

/* Float cancel and signup buttons and an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */

.container {
    padding: 16px;
}




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        text-align: justify;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 225%;
        line-height: 75px;
        margin: 0 0.5rem;
        position: relative;
    }

  
    /* Main content */
    main {
        /* push main content down */
        margin-top: 76px;
    }

    #hero {
        background: url(../images/pexels-victorfreitas-841130.jpg) no-repeat center center/cover;
        height: 1000px;

    }

    #workout-hero {
        background: url(../images/pexels-victorfreitas-703012.jpg) center center/cover;
        height: 1000px;
    }

    #cover-text {
        bottom: -10px;
        position: sticky;
        width: 300px;
        right: 50px;
    }

    #workout-cover-text {
        bottom: -10px;
        position: sticky;
        width: 300px;
        right: 50px;
        
    }

    #reasons {
        width: 90%;
        margin: 20px auto;

    }

    #reasons h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 280%;
    }


}

/* Media query laptops & larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid darkgrey;
    }

    #hero {
        background: url(../images/pexels-victorfreitas-841130.jpg) no-repeat center center/cover;

    }

    #cover-text {
        bottom: -320px;
        position: static;

    }
#workout-cover-text {
    bottom: -125px;
    position: sticky;
}

}